.containerHeroPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100%;
}

.containerHeroInfo{
    margin-left: 1rem;
}
.containerHeroInfo ul {
    padding: 0;
}
.containerHeroInfo li{
    font-size: large;
   list-style-type: none; 
}

.containerImgHeroPage {
    padding: 0.4rem;
}

.containerImgHeroPage img {
    border-radius: .4rem;
}